/* Variables */
:root {
  --header-height: 100px;
}


 /* Fonts */
 @font-face {
  font-family: ZillaSlab;
  src: url("../fonts/ZillaSlab-Regular.ttf")
}


/* General */
body {
  margin: 0px;
  overflow-x: hidden;
  background-color: whitesmoke;
  font-family: ZillaSlab;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content:space-between;

    width: 100%;
    height: var(--header-height);
}

.header-logo-info {
  display: flex;
  align-items: center;
  padding-top: 10px;
}

.header-logo-anchors {
  align-items: center;
  justify-content: center;
}

.header-link {
  color: black;
  text-decoration: none;
  font-size: 32px;
  position: relative;
}

.header-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 3px;
  bottom: -5px;
  left: 50%;
  background-color: black;
  transition: all 0.15s ease-in-out;
}

.header-link:hover::after {
  width: 100%;
  left: 0;
}

nav {
    text-align: center;
    margin: 10px;
    width: 100%;
    box-sizing: border-box;
}

a {
  color: black;
}

h1, h2 {
    text-align: center;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: purple;
}

.footer-desktop-div {
  display: flex;
  flex-direction: column;
  color: white;
  margin: 10px;
  justify-content: center;
  align-items: center;
}


footer p, a {
  color: aliceblue;
  margin: 10px;
  padding-top: 10px;

}

.icon-img {
  height: 6vh;
  width: auto;
 }

 
.logo-img {
  height: 20vh;
  width: auto;
 }

/* -- Dropdown menu --*/
.show {
    top: var(--header-height);
    visibility: visible;

}

.fade-layer.visible{
    display: flex;
}

.fade-layer{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

/* -------------------- */
/* index.html */
.start-slideshow {
    width: 100%;
    height: auto;

}

.start-slideshow-img {
    width: 100%;
    height: 38vh;
}

  /* Next and previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 24px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: grey;
  }
  
  /* Position the next button to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
    
  /* The dots/bullets/indicators */
  .slideshow-dots {
    text-align: center;
    padding: 20px;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active {
    background-color: black;
  }
  
  /* Fade animation */
  .slideshow-images img {
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  
  .slideshow-images img.active {
    display: block;
    opacity: 1;
  }

  #sponsor-img {
    height: 12vh;
  }
  
/* -------------------- */
/* about.html */

.about-image-container {
  display: flex;
  justify-content: center;
}

.front-image {
  height: 80vh;
  width: 82%;

}

* {
  box-sizing: border-box;
}

.about-timeline-h2 {
  text-align: center;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid purple;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid plum;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 20px 30px;
  background-color: white;
  position: relative;
  border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

/* -------------------- */
/* news.html */
.news-article {
  display: flex;
  flex-direction: column;
  margin: 10px;
  align-items: center;
  background-color: lightgray;
 }

.news-article p {
  margin: 10px;
}

 .news-article img {
  height: 30vh;
  width: 22vw;
  margin-top: 10px;

 }

 .news-sponsors {
  display: flex;
  justify-content: center;
 }

 .news-sponsors .icon-img {
  margin: 40px;
 }


  /* -------------------- */
/* Member.html */
.member-article a {
  display: flex;
  justify-content: center;
}


  /* -------------------- */
/* gear.html */
.gear-main {
  width: 100%;
  margin: 0px;

}

.gear-main h1 {
  text-decoration: underline;

}

.gear-img-container {
  display: flex;
  width: 100%;
  justify-content: center;

}

.gear-img {
  height: 100vh;
  width: 80%;
}

.gear-camp {

}

.gear-packlist {

}

.gear-packlist h2 {
  text-decoration: underline;

}

.gear-packlist p {
  margin: 5px;
}

/* -------------------- */
/* ##### Device config ###### */
/* Mobile */
@media (max-width: 768px) {

    /* header */
    header h1 {
        visibility: hidden;
    }

    header img {
        height: auto;
        width: 100px;
    }

    /* nav */
    nav{
        display: grid;
        grid-template-rows: 25% 25% 25% 25%;
        background-color: white;
        height: 40vh;
        align-items: center;
        width: 100%;
        position: fixed;
        top: 0;
        visibility: hidden;
        transition: top 0.3s;
        box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
        z-index: 10;
        margin: 0px;
        position:absolute;

    }

    nav a {
        display: flex;
        text-decoration: none;
        color:black;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
        text-align: center;

    }

    footer {
      display: flex;
      height: 20vh;
      background-color: purple;
    }

    p {
      margin: 10px;

    }

    .footer-desktop-div {
      display: none;
    }
  
    .footer-mobile {
      flex-direction: column;
    }

    .logo-img {
      height: 10vh;
      width: auto;
    }



    /* the timeline */
     /* Place the timelime to the left */
     .timeline::after {
        left: 31px;
      }
    
    /* Full-width containers */
      .container {
        width: 80%;
        padding-left: 70px;
        padding-right: 25px;
      }
    
    /* Make sure that all arrows are pointing leftwards */
      .container::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
      }
    
    /* Make sure all circles are at the same spot */
      .left::after, .right::after {
        left: 15px;
      }
    
    /* Make all right containers behave like the left ones */
      .right {
        left: 0%;
      }

      .header-logo-anchors {
        display: none;
      }

      .main {
          display: flex;
          flex-direction: column;
          margin: 10px;
      }

      .gear-img {
        width: 100%;
        height: auto;
      }

      .front-image {
        height: auto;
        width: 100%;
      
      }

      .news-article img {
        height: 30vh;
        width: auto;      
       }


  
  

}

/* Desktop */
@media (min-width: 768px) {

  /* General */

  h1 {
    font-size: 38px;

  }

  h2 {
    font-size: 32px;
  }

  p {
    font-size: 24px;
  }

  nav {
      visibility: hidden;
  }

  .footer-desktop-div {
    display: flex;
  }

  .footer-mobile {
    display: none;
  }


  li {
    font-size: 24px;
}


    /* ---- */

    .menu-btn-toggle {
      visibility: hidden;
    }

    .header-logo-anchors {
      display: block;
    }

    .start-slideshow-images {
        display: flex;
        align-items: center;
        justify-content: center;
      }  

    .start-slideshow-img {
      height: 75vh;
      width: auto;

    }

    .start-info {
      display: flex;
      margin: 100px;
      justify-content: space-evenly;
      

    }
    .start-info-article {
      width: 25%;
      height: auto;
      
    }

    .about-article-container {
      display: flex;

    }

    .about-article {
      margin: 40px;
    }



    .member-article-container {
      display: flex;
      margin: 60px;
      justify-content: space-evenly;

    }

    .member-article {
      margin: 40px;
      width: 30%;
    }

    .member-article a {
      color: blue;
      font-size: 32px;
    }

    .gear-bicycle {
        margin: 20px;
        align-items: center;
        width: 20vw;
    }

    .gear-camp {
      margin: 20px;
      align-items: center;
      width: 20vw;

    }

    .gear-main {
        display: flex;
        justify-content: space-evenly;
    
      }

    .news-article-container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

    }
  
    .news-article {
      width: 25vw;
    }


}

